body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;

}

div {
  font-family: Arial;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(21, 86, 250);
  color: white;
  height: 50px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.user-input-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.user-input-header label {
  font-size: 20px;
}
.category-label {
  font-size: 20px;
  margin-top: 10px;
}

.category-option {
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}
.flex-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
  margin-left: 20px;
  margin-bottom: 5px;
}
.user-input {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.set-budget {
  margin-top: 10px;
}

.budget-input {
  font-size: 18px;
}
.budget-button {
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(21, 86, 250);
  color: white;
  border:none;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.budget-display {
  margin-left: 20px;
  margin-top: 10px;
}

.budget-remaining {
  margin-left: 20px;
  margin-top: 30px;
}
.amount {
  padding: 4px;
}

.date-picker {
  padding: 7px;
}
input {
  margin-left: 20px;
  margin-bottom: 10px;
}
.expense-submit {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.add-btn {
  background-color: rgb(21, 86, 250);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.expense-log {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.logs {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding-left: 100px;
  gap: 20px;
}

.logs div {
  font-size: 17px;
}

.delete-btn {
  background-color: rgb(173, 3, 3);
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.edit-btn {
  background-color: darkgreen;
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
}
